---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
--- 

$color_scheme: '{{ site.color_scheme }}';

body {
  height: 100vh;
  display: flexbox;
  align-items: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@import "custom";

